
<div ng-controller="LogbookEditController">
  <div class="title-form">
    <input ng-model="tripnote.cover.title" type="text" class="form-control" id="" placeholder="<%= @tripnote.title %>">
  </div>

  <div class="description-form">
    <textarea  ng-model="tripnote.cover.description" type="" class="form-control" id="" placeholder="<%= @tripnote.description %>"></textarea>
  </div>

  <div data-file-upload="fileuploadOptions" class="upload-button">
    <p>Upload New Photos!!</p>
    <input id="fileUploadBtn" type="file" name="image" multiple ng-disabled="disabled" accept="image/jpeg, image/gif, image/png, image/bmp">
  </div>

  <div class="reviews-wrapper">
    <ul ng-cloak>
      <li ng-repeat="file in queue">
        <td data-on="!!file.thumbnailUrl">
          <div class="preview">
          <h3>{{file.name}}</h3>
            <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery><img data-ng-src="{{file.thumbnailUrl}}" alt=""></a>
          </div>
          <div class="preview" data-file-upload-preview="file"></div>
        </td>
      </li>
    </ul>

    <div class="cover-photo">
      <h4>This is your cover photo</h4>
      <img ng-src="{{tripnote.cover.photo.image_url}}">
    </div>

    <ul class="saved-reviews">
      <li class="saved-review" ng-repeat="review in tripnote.reviews">
        <p>{{review.id}}</p>
        <textarea placeholder="review.body" ng-model="review.body"></textarea>
        <img ng-src="{{review.photos[0].thumbnailUrl}}">
        <p>{{review.spot.name}}</p>
        <button ng-click="rmReview(review)" class="delete-review">Delete :(</button>
        <div class="buttonToSetCover">
          <button ng-click="setCover(review.photos[0])">Set this picture as a cover photo</button>
        </div>
      </li>
    </ul>
  </div><!-- reviews-wrapper -->

  <button class ="preview-button" ng-disabled="logbook.episodes.length == 0 || isUploading || isSaving" ng-click="saveAndShowPreview()" ng-switch on="!!isSaving">Save and Preview
  </button>
</div>