<div class="col-lg-12">
  <p>{{ vm.dayRange }}</p>
  <div>
    日程を変更する: <input date-range-picker id="daysRange" type="text"
    name="daysRange" ng-model="vm.planDates" options="vm.dateOptions"/>
  </div>

  <button class="btn btn-primary" ng-click="vm.save()">save</button>
</div>
<div class="col-lg-6 col-md-6 col-sm-6">
  <h2>{{ vm.plan.title }}</h2>

  <div ng-repeat="day in vm.plan.dailyPlans track by $index" ng-class="{active: $index==vm.currentDay}"
    ng-click="vm.setCurrentDay($index)">
    <span>{{ $index + 1 }}日目</span>
  </div>

  <ul>
    <li ng-repeat="planItem in vm.plan.dailyPlans[vm.currentDay].planItems">
      <h3>{{ planItem.spot.name }}</h3>
    </li>
  </ul>
</div>
<div class="col-lg-6 col-md-6 col-sm-6">
  <h2>Spot Search</h2>
  <selectize placeholder="国を選んでください"
  config="vm.selects.country.config" options="vm.selects.country.options" ng-model="vm.selects.country.model"
  ></selectize>

  <selectize placeholder="エリアを選んでください"
    config="vm.selects.state.config" options="vm.selects.state.options" ng-model="vm.selects.state.model"
  ></selectize>
  <ul>
    <li ng-repeat="sp in vm.spots">
      <p>{{ sp.name }}</p>
      <p>{{ sp.lat }}</p>
      <p>{{ sp.lng }}</p>
      <button ng-click="vm.addPlanItem(sp)">プランに追加</button>
    </li>
  </ul>
</div>
