<div class="gmSearchBox" ng-controller="PlansMapSearchBoxController as vm">
  <div class="rectangleSearchButtonWrapper renewal_20151130">
    <button type="button" class="btn btn-map-search" ng-click="vm.rectangleSearch()" ng-show="vm.showRectangleSearchButton" alt="<%= t("client.searchBox_search_more_here") %>">
      <span class="rectangleSearchButton_text">
        <%= t("client.searchBox_search_more_here") %>
      </span>
      <span class="PlanIconSearch"></span>
    </button>
  </div>
</div>