<div class="gmSearchBox" ng-controller="PlansMapSearchBoxController as vm">
  <div class="rectangleSearchButtonWrapper renewal_20151130">
    <button type="button" class="btn btn-map-search" ng-click="vm.rectangleSearch()" ng-show="vm.showRectangleSearchButton"
      alt="<%= t("client.searchbox__search_more_here") %>">
      <span class="rectangleSearchButton__text">
        <%= t("client.searchbox__search_more_here") %>
      </span>
      <span class="planIconMapSearch"></span>
    </button>
  </div>
</div>
